/* mat-card {
    margin-bottom: 3px;
} */

mat-expansion-panel {
    margin-bottom: 3px;
}

.formFld_largeurTot {
    width: 100%;
    max-width: 600px;
}
.formFld_largeurTot.flex {
    display: flex;
}
.formFld_largeurTot.flex.flexCol {
    flex-direction: column;
}

.inptQuestionAdrCp {
    max-width: 140px;
}
.inptQuestionAdrVille {
    width: 100%;
    min-width: 60px;
}

@media screen and (max-width: 400px) {
    .formFld_largeurTot.flex {
        flex-wrap: wrap;
    }   
}