/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import '~normalize.css/normalize.css';

$break-small: 400px;

$margin-right-elem-mat: 9px;
$margin-bottom-elem-mat: 7px;

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, monospace, "Trebuchet MS", Arial, Helvetica, "Liberation Sans", FreeSans, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Preferred icon size */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.flexFormFld { display: flex }
mat-form-field, mat-radio-button {
    margin-right: $margin-right-elem-mat;
}
mat-form-field:last-child, mat-radio-button:last-child {
    margin-right: 2px;
}
mat-radio-button { margin-bottom: $margin-bottom-elem-mat; }
mat-radio-button:last-child { margin-bottom: 0; }


.formFld_largeurTot {
    width: 100%;
    max-width: 600px;
}
.formFld_largeurTot.flex {
    display: flex;

    @media screen and (max-width: $break-small) {
        flex-wrap: wrap;
    }    
}
.formFld_largeurTot.flex.flexCol {
    flex-direction: column;
}

.formFld_hidden { display: none; }



.contFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    div, app-questions-form-groupe {
        margin-right: auto;
    }
}
